{% extends "base.html" %} {% from 'bootstrap5/form.html' import render_field %}
{% block title %} Manage Actuals {% endblock %} {% block content %}
<div class="container mt-5">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages%}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
    {{message}}
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <h1>Manage Actuals</h1>
  <div class="form-floating mb-3">
    <select
      class="form-select"
      aria-label="KPI Goal"
      name="goal_id"
      id="goal-selector"
      hx-get="/filter_table"
      hx-trigger="change"
      hx-target="#results-table"
    >
      <option value="">Select a KPI Goal</option>
      {% for goal_id, goal_detail in goal_details %}
      <option value="{{ goal_id }}">{{ goal_detail }}</option>
      {% endfor %}
    </select>
    <label for="goal-selector">KPI Goal</label>
  </div>

  <div class="form-floating mb-3">
    <form
      id="add-form"
      hx-post="{{ url_for('manage_actuals') }}"
      hx-target="#results-table tr:last-child"
      hx-swap="afterend"
    >
      {{ form.hidden_tag() }} {{ form.kpi_goal_id }}

      <div class="form-floating mb-3">
        {{ form.kpi_actual_date(class="form-control", id="floatingDate") }}
        <label for="floatingDate">Date:</label>
      </div>

      <div class="form-floating mb-3">
        {{ form.kpi_aa1(class="form-control", id="floatingAA1") }}
        <label for="floatingAA1">Possible Value:</label>
      </div>

      <div class="form-floating mb-3">
        {{ form.kpi_actual_value(class="form-control", id="floatingValue") }}
        <label for="floatingValue">Actual Value:</label>
      </div>

      <div class="form-floating mb-3">
        {{ form.kpi_actual_comment(class="form-control", id="floatingComment")
        }}
        <label for="floatingComment">Comment:</label>
      </div>
      <div class="d-grid gap-2 col-12 mx-auto">
        {{ render_field(form.submit, button_size='block') }}
      </div>
    </form>
  </div>

  <table
    class="table table-striped table-hover table-bordered mt-4 delete-row-example"
    id="actuals-table"
  >
    <thead class="table-dark" id="tableHead">
      <tr>
        <th>ID</th>
        <th>DATE</th>
        <th>POSSIBLE VALUE</th>
        <th>ACTUAL VALUE</th>
        <th>COMMENT</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody
      id="results-table"
      hx-target="closest tr"
      hx-swap="outerHTML swap:1s"
    >
      <!-- HTMX will load table data here -->
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modaledit"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
      </div>
      <div class="modal-body" id="dynamicModalBody">
        Loading dynamic content...
      </div>
      <div class="modal-footer d-grid col-12 mx-auto"></div>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("goal-selector")
    .addEventListener("change", function () {
      var selectedGoalId = this.value;
      console.log("Selected Goal ID:", selectedGoalId); // This will log the selected ID
      document.getElementById("kpi_goal_id").value = selectedGoalId;
      console.log(
        "Hidden field value:",
        document.getElementById("kpi_goal_id").value
      ); // This will log the value set in hidden field
    });
</script>

{% endblock %}
