/* body {
  font-family: "Inter", sans-serif;
} */

body {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.actions-column {
  width: 1%; /* or a fixed width like 100px */
  white-space: nowrap;
}

.white-heart {
  filter: brightness(0);
}

.navbar-brand {
  font-size: 2rem;
  font-family: "DM Serif Display", serif;
}
